$font-montserrat: 'Montserrat', Arial, sans-serif;
$font-noto-sans: 'Noto Sans', Arial, sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;

$color-white: #FFFFFF;
$color-text-placeholder: #BFBFBF;
$color-background: #000000;
$color-background-light: #212834;
$color-button: #424756;

$container-width: 1700px;